# Python
*.pyc
*.pyo
__pycache__

# Django
*.env
*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3
media/
static/
products/images/

# Virtual Environment
env/
venv/
ENV/

# Editor config
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
